# PostgreSQL
POSTGRES_DB=lifescience
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# Backend
BACKEND_PORT=8000
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=admin123

# Frontend
FRONTEND_PORT=3000
